{% extends 'base.html.twig' %}

{% block content %}

<div class="row"><div class="col-md-12">
<p></p>

<h1>{{ 'new_password.heading'|trans }}</h1>

{{ form_start(form) }}

<p>

<div class="input-group input-group-lg">
  <span class="input-group-btn">
	<button class="btn btn-info" type="button"><i class="fa fa-key"></i></button>
  </span>
{{ form_widget(form.password, {'attr': {'placeholder': 'new_password.password' }}) }}
  <span class="input-group-btn">
	<button class="btn btn-info" type="button" id="generate">{{ 'new_password.generate_btn'|trans }}</button>
  </span>

</div>
{{ form_errors(form.password) }}
<p>{{ 'new_password.password_explain'|trans }}</p>
</p>

<p>
{{ form_widget(form.submit, {'label': 'new_password.submit_btn', 'attr': {'class': 'btn btn-default btn-lg'}}) }}
</p>

{{ form_end(form) }}

</div>
</div>

{% endblock content %}

{% block js %}
<script src="{{ asset('generate_password.js') }}"></script>
{% endblock js %}



