{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block checkbox_radio_label %}
    {# Do not display the label if widget is not defined in order to prevent double label rendering #}
    {% if widget is defined %}
        {% if required %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if parent_label_class is defined %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
        {% endif %}
        {% if label is not same as(false) and label is empty %}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{- widget|raw }} {{ label is not same as(false) ? (translation_domain is same as(false) ? label|raw : label|trans({}, translation_domain)|raw) -}}
        </label>
    {% endif %}
{% endblock checkbox_radio_label %}


{% block content %}

<div class="row">
<div class="col-md-12">
<p></p>

<h1>{{ 'register.heading'|trans }}</h1>

{{ form_start(form) }}

<p>

<div class="input-group input-group-lg">
<span class="input-group-btn">
<button class="btn btn-info" type="button"><i class="fa fa-user"></i></button>
</span>
{{ form_widget(form.username, {'attr': {'placeholder': 'register.username'}}) }}
</div>
{{ form_errors(form.username) }}
<p>{{ 'register.username_explain'|trans }}</p>

</p>

<p>

<div class="input-group input-group-lg">
<span class="input-group-btn">
<button class="btn btn-info" type="button"><i class="fa fa-envelope-o"></i></button>
</span>
{{ form_widget(form.email, {'attr': {'placeholder': 'register.email'}}) }}
</div>
{{ form_errors(form.email) }}
<p>{{ 'register.email_explain'|trans }}</p>

</p>

<p>

{{ form_errors(form.password) }}
<div class="input-group input-group-lg">
<span class="input-group-btn">
<button class="btn btn-info" type="button"><i class="fa fa-key"></i></button>
</span>
{{ form_widget(form.password, {'attr': {'placeholder': 'register.password' }}) }}
</div>

<p>{{ 'register.password_explain'|trans }}</p>

</p>

{% set accept_label = 'register.accept'|trans({'%url%': path('terms')}) %}

<p>

{{ form_errors(form.accept) }}

{{ form_widget(form.accept, {'label': accept_label}) }}

</p>

<p>
{{ form_widget(form.submit, {'label': 'register.submit_btn', 'attr': {'class': 'btn btn-default btn-lg'}}) }}
</p>

{{ form_end(form) }}

</div>
</div>

{% endblock content %}


