{% extends 'base.html.twig' %}

{% block content %}

<div class="row">
<div class="col-md-12">
<p></p>

<h1>{{ 'newsletter_subscribe.heading'|trans }}</h1>
<p>{{ 'newsletter_subscribe.explain'|trans }}</p>
{{ form_start(form) }}

<p>

<div class="input-group input-group-lg">
<span class="input-group-btn">
<button class="btn btn-info" type="button"><i class="fa fa-envelope-o"></i></button>
</span>
{{ form_widget(form.email, {'attr': {'placeholder': 'newsletter_subscribe.email'}}) }}
</div>
{{ form_errors(form.email) }}
<p>{{ 'newsletter_subscribe.email_explain'|trans }}</p>

</p>

<p>
{{ form_widget(form.submit, {'label': 'newsletter_subscribe.submit_btn', 'attr': {'class': 'btn btn-default btn-lg'}}) }}
</p>

{{ form_end(form) }}

</div>
</div>

{% endblock content %}
