{% extends 'base.html.twig' %}

{% block modal %}{% endblock %}

{% block heading %}

<div class="jumbotron text-center">
<h2>{{ 'edit.heading'|trans }}</h2>
</div>

{% endblock %}

{% block action %}

<div class="row bg-info"><div class="col-md-12">
<p></p>
<form method="post">
  <div class="form-group">
    <label for="email">{{ 'edit.email_address'|trans }}</label>
    <input type="email" class="form-control" id="email" name="email" value="" placeholder="{{ 'edit.email'|trans }}">
    <p>{{ 'edit.email_explain'|trans }}</p>
  </div>
  <button type="submit" class="btn btn-default">{{ 'edit.send_token'|trans }}</button>
</form>
<p></p>
</div></div>

{% endblock action %}


