{% extends 'base.html.twig' %}

{% block content %}

<div class="row">
<div class="col-md-12">

<h1>{{ 'pay.heading'|trans }}</h1>

{{ form_start(form) }}

<p>

<div class="input-group input-group-lg">

      <span class="input-group-btn">
        <button class="btn btn-info" type="button">{{ unit }}</button>
      </span>

{# <input type="number" class="form-control" placeholder="0.00" aria-describedby="pay-addon"> #}
 {{ form_widget(form.amount, {'attr': {'placeholder': number_format }}) }}
</div>
{{ form_errors(form.amount) }}
</p>

{{ form_widget(form.submit, {'attr': {'class': 'hidden'}}) }}
{{ form_end(form) }}

</div>
</div>



<div class="row">
<div class="col-md-12">



<div class="panel panel-default">

{% if transactions %}

  <table class="table table-striped">
  <tbody>
{% for t in transactions %}
	<tr><td>{{ t.ts|date }}</td><td>{{ t.amount }}</td></tr>
{% endfor %}
  </tbody>
  <tfoot>
	<th>Tijd</th><th>Amount</th>
  </tfoot>
  </table>

{% endif %}

<div class="panel-footer">
	<h3>40 {{ unit }}</h3>
</div>
</div>

</div>
</div>

{#
<div class="row">
<div class="col-md-12">

<a href="" class="btn btn-lg btn-default">GHT</a>

</div>
</div>
#}

{% endblock content %}

