{% extends 'base.html.twig' %}

{% block modal %}{% endblock %}

{% block heading %}{% endblock %}

{% block action %}


<div class="row">

<div class="col-md-12">

<div id="qrcode" data-qrcode="{{ voucher_url }}"></div>

</div>
</div>
<div class="row">

<div class="col-md-6">
<h1>{{ amount }} {{ unit }}</h1>
</div>
</div>
<div class="row">
<div class="col-md-12">
<a class="btn btn-lg btn-primary" href="{{ path('index') }}">{{ 'pay.ready'|trans }}</a>
</div>
</div>
<div class="row">
<div class="col-md-12">
<p>&nbsp;</p>
<p>{{ voucher_url }}</p>
<p>Valid for 30 minutes.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
</div>

{% endblock action %}

{% block content %}{% endblock %}


