<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ 'index.title'|trans }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link type="text/css" rel="stylesheet" href="{{ asset('base.css') }}" media="screen">
</head>
<body>

{% block modal %}{% endblock %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{ 'navbar.brand'|trans }}</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ path('what') }}">{{ 'navbar.what'|trans }}</a></li>
        <li><a href="{{ path('business') }}">{{ 'navbar.business'|trans }}</a></li>
      </ul>
    </div>
  </div>
</nav>

{% block heading %}{% endblock %}

<div class="container-fluid">

{% block action %}



{% endblock action %}

{% block content %}

<div class="row text-center"><h3>{{ 'projects.title'|trans }}</h3></div>

<p></p>

<div class="row" id="projects" data-projects="{{ projects }}" data-s3-img="{{ s3_img }}">

<div class="col-sm-4 col-md-3 collapse" id="project_model">
<div class="thumbnail">
  <img src="">
  <div class="caption">
	<h3 class="project-title"></h3>
	<p class="project-text"></p>
	<p><a href="#" class="btn btn-primary" role="button">Donate</a></p>
  </div>
</div>
</div>

</div>

<div class="row collapse" id="no_projects">
<div class="col-md-12">
<div class="panel panel-default">
<div class="panel-body">
<p>{{ 'projects.no_items'|trans }}</p>
</div>
</div>
</div>
</div>

</div>

{% endblock content %}

</div>

<div class="footer text-center bg-info">
<p>&nbsp;</p>
<p>{{ 'footer.cookies'|trans }}</p>
<p>{{ 'footer.copyright'|trans }}</p>
<p>&nbsp;</p>
</div>
<script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{{ asset('base.js') }}"></script>
</body>
</html>
