<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ 'title'|trans }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="{{ asset('base.css') }}" media="screen">
</head>
<body>

{% block modal %}{% endblock %}

{% block navbar %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{ 'navbar.brand'|trans }}</a>
{#   <a class="btn btn-default navbar-btn" href="{{ path('login') }}"><i class="fa fa-sign-in"></i> Sign in</a> #}
{#   <a class="btn btn-default navbar-btn"><i class="fa fa-user"></i></a></div> #}

 {#
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ path('what') }}">{{ 'navbar.what'|trans }}</a></li>
        <li><a href="{{ path('business') }}">{{ 'navbar.business'|trans }}</a></li>
      </ul>
    </div>
#}
  </div>
</nav>

{% endblock navbar %}

{% block heading %}{% endblock %}

<div class="container-fluid">

{% block action %}{% endblock action %}

{% block content %}{% endblock content %}

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

</div>

<div class="footer text-center bg-info">
<p>&nbsp;</p>
<p>{{ 'footer.cookies'|trans }}</p>
<p>{{ 'footer.copyright'|trans }}</p>
<p>&nbsp;</p>
</div>
<script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lrsjng.jquery-qrcode/0.14.0/jquery-qrcode.min.js"></script>
{% block js_cdn %}{% endblock %}
<script src="{{ asset('base.js') }}"></script>
{% block js %}{% endblock %}
</body>
</html>
