{% extends 'base.html.twig' %}

{% block modal %}

<div class="modal fade" id="donate" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Donate to ...</h4>
      </div>
      <div class="modal-body">
        <p></p>

		<div class="radio">
		  <label>
			<input type="radio" name="amount" id="amount_5" value="5">
			<span class="amount_option">5</span> {{ 'unit'|trans }}
		  </label>
		</div>
		<div class="radio">
		  <label>
			<input type="radio" name="amount" id="amount_10" value="10">
			10 cw-euro
		  </label>
		</div>
		<div class="radio">
		  <label>
			<input type="radio" name="amount" id="amount_20" value="20" selected>
			20 cw-euro
		  </label>
		</div>
		<div class="radio">
		  <label>
			<input type="radio" name="amount" id="amount_50" value="50">
			50 cw-euro
		  </label>
		</div>
		<div class="radio">
		  <label>
			<input type="radio" name="amount" id="amount_100" value="100">
			100 cw-euro
		  </label>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock modal %}

{% block heading %}

<div class="jumbotron text-center">

	<h1>{{ 'vote.heading.title'|trans }}</h1>
	<p>{{ 'vote.heading.explain'|trans }}</p>
</div>

{% endblock heading %}

{% block action %}

<div class="vote">
<div class="row bg-info text-center"><div class="col-sm-12">
<h2>{{ 'vote.amount_available'|trans }}: <span class="label label-info">
	<span class="vote-still-available">100</span></span> {{ 'unit'|trans }}</h2>
<p>{{ 'vote.select_projects'|trans }}</p>
</div></div>

<div class="row bg-info">
<div class="col-sm-6 margin-bottom">
<button type="button" class="btn btn-primary btn-block" role="button" data-toggle="modal" data-target="#donate">
{{ 'vote.button.poorest'|trans }}</a>
</div>
<div class="col-sm-6 margin-bottom">
<button type="button" class="btn btn-primary btn-block" role="button" data-toggle="modal" data-target="#donate">
{{ 'vote.button.equally'|trans }}</a>
</div>
</div>

</div>

{% endblock action %}

{% block content %}

<div class="row text-center"><h3>{{ 'projects.title'|trans }}</h3></div>

<p></p>

<div class="row" id="projects" data-projects="{{ projects }}" data-s3-img="{{ s3_img }}">

<div class="col-sm-4 col-md-3 collapse">
<div class="thumbnail">
  <img src="" alt="...">
  <div class="caption">
	<h3>My project title</h3>
	<p>my project text</p>
	<p><a href="#" class="btn btn-primary" role="button">Donate</a></p>
  </div>
</div>
</div>

</div>

{% endblock content %}

